.dataTable{

    .dataGrid{
      background: white;
      padding: 20px;
        
    //  changing the location of MUI search bar
    //  by default this is a flex box 
      .MuiDataGrid-toolbarContainer{
        flex-direction: row-reverse;
      }
  
      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .action{
        display: flex;
        gap: 15px;
  
        img{
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }

    .cellWithStatus{
      padding: 5px;
      border-radius: 5px;

      &.Ongoing{
        background-color: rgba(0, 128, 0, 0.05);
        color: green;
      }

      &.Pending{
        background-color: rgba(255, 217, 0, 0.05);
        color: goldenrod;
      }

      &.Delayed{
        background-color: rgba(255, 0, 0, 0.05);
        color: crimson;
      }
    }
}